# Virtual env
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# Secrets
.env

# IDE
.vscode/
.idea/

# OS / Office temp
.DS_Store
Thumbs.db
~$*
*.docx